<div class="container">

	<div><%= image_tag @user.avatar.url(:thumb), class: "circle avatar z-depth-1 inline" %>
		<h1>Welcome, <%= @user.name %></h1>
    </div>
	<h4>Current events</h4>
    <div class="current-events">
		<ul>
	    <% @occasions.each do |occasion| %> 
	      <% if occasion.expiry_date > Date.today %>
            <div class="card-content white-text">
              <span class="card-title"><li class="mdi-notification-event-note">
	          	<%= link_to occasion.description, user_occasion_path(@user, occasion) %>
	          </li></span>
            </div>
	      <% end %>
		<% end %>
		</ul>
    <button class="btn button"><%= link_to "New Event", new_user_occasion_path(@user), class: "btn-event" %></button>
	</div>
    <div class="expired-events">

	<h5 id="exp-events-title">Take a look at your expired events</h5>
	<ul  id ="exp-ev-list">
	    <% @occasions.each do |occasion| %>
	      <% if occasion.expiry_date <= Date.today %>
	          <li >
	          	<%= link_to occasion.description, user_occasion_path(@user, occasion) %> <i class="mdi-notification-event-busy"></i>
	          </li>
	      <% end %>
		<% end %>
	</ul>
	</div>


</div>

