<div class= "container">
	<div>
		<h1><%= @occasion.description %></h1>
	</div>


  <% if @occasion.receiver %>

    <h4 class="receiver">To: <%= @occasion.receiver.name %></h4>


  <% else %>

    <div id = "receiver">

      <form action="#" id="receiver_name" method="post">
        <input style = "display: inline" id="person_name" name="name" type="text" />
        <button data-target="modal1" class="btn modal-trigger">✓</button>
    </form>
    </div>    
  <% end %>

    <!-- THIS IS THE MODAL CODE. PLEASE REMOVE EVERYTHING IF THIS IS TOO MUCH!!! -->
    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>Receiver's Info for <%= @occasion.description %></h4>

         <%= form_for [@occasion, @receiver], url: receivers_path(@occasion) do |form| %>
        <fieldset class="fields">
          <div class="field">
           <%= form.label :name %>
           <%= form.text_field :name %>
          </div>

          <div class="field">
              <%= form.label :email %>
                <%= form.text_field :email %>
            </div>
              <div class="field">
               <%= form.label :phone %>
               <%= form.text_field :phone %>
              </div>

              <div class="field">
               <%= form.label :address %>
               <%= form.text_area :address %>
              </div>
          </fieldset>

      </div>

      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat "><%= form.submit "OK" %></a>
         <% end %>
      </div>
    </div>
    <!-- END OF THE MODAL CODE!!! -->




	<div id = "Users in this occasion">
		<h2>Friends in this event</h2>
			<% @occasion.users.each do |user_in_event|%>
      <div style="display: inline-block margin:10px">
				<%= image_tag user_in_event.avatar.url(:thumb), class: "circle avatar z-depth-1" %>
      </div>
			<% end %>
      <i class='mdi-social-person-add' id="add-user"></i>
	</div>

    <!-- THIS IS THE MODAL CODE TO ADD A USER!!! -->
    <div id="modal2" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>Add a member</h4>
        <h2>Your friends</h2>
            <ul>
                <% @users.each do |user|%>
                  <% unless @occasion.users.include? user %>
                      <a href=<%= new_happening_path(user, @occasion)%>><li><%= image_tag user.avatar.url(:thumb), class: "circle avatar z-depth-1" %> - <%= user.name%></li></a>
                    <% end %>
                <% end %>
            </ul>
      </div>

      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">OK</a>
      </div>
    </div>
    <!-- END OF THE MODAL CODE FOR ADDING A USER!!! -->


	<small> Deadline: <%= @occasion.expiry_date.strftime("%A %d, %b %Y") %></small><br/>

</div>

     <h4>Gift options</h4>
     <div class="row">
     <div id="gifts-section">
        <div class="col s2">
          <div class="card large">
            <div class="card-image">
              <%= image_tag("gifty-default.png") %></span>
            </div>
            <div class="card-content">
              <p>Each friend pays:</p>
            </div>
            <div class="card-action">
              <a href="<%= gifts_path %>">CHANGE</a>
            </div>
          </div>
        </div>

        <div class="col s2">
          <div class="card large">
            <div class="card-image">
              <%= image_tag("gifty-default.png") %></span>
            </div>
            <div class="card-content">
              <p>Each friend pays:</p>
            </div>
            <div class="card-action">
              <a href="<%= gifts_path %>">CHANGE</a>
            </div>
          </div>
        </div>

        <div class="col s2">
          <div class="card large">
            <div class="card-image">
              <%= image_tag("gifty-default.png") %></span>
            </div>
            <div class="card-content">
              <p>Each friend pays:</p>
            </div>
            <div class="card-action">
              <a href="<%= gifts_path %>">CHANGE</a>
            </div>
          </div>
        </div>
      </div>
     </div>
	<%= link_to 'Delete Event', user_occasion_path(current_user, @occasion), method: :delete, data: {confirm: 'Are you sure?'} %>



<script>
$(document).ready(function(){
  $('.modal-trigger').leanModal();
});
</script>

<script>
$('#add-user').click(function(){
  $('#modal2').openModal();
});
</script>
 