
<!DOCTYPE html>
<html>
<head>
  <title>Gifty</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700|Electrolize' rel='stylesheet' type='text/css' />
</head>

<header class="header">

</header>
<body>
<% if current_user.nil? %>
<div id="navigation">
  <span class="element-nav">
    <%= link_to 'Login', new_user_session_path%>
  </span>

  <span class="element-nav">
    <i class="mdi-image-lens tiny"></i></span>

  <span class="element-nav">
    <%= link_to 'Signup', new_user_registration_path%>
  </span>
</div>
<% else %>
<div id="navigation">
  <span class="element-nav">
    <%= link_to 'Logout', destroy_user_session_path, method: "delete" %>
  </span>

  <span class="element-nav">
    <i class="mdi-image-lens tiny"></i></span>

  <span class="element-nav">
    <%= link_to 'MyProfile', edit_user_registration_path %>
  </span>
</div>
<% end %>
<%= yield %>

</body>

        <footer class="page-footer grey darken-2 footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">@fontcuberta</h5>
                <p class="grey-text text-lighten-4">Buying a gift this holiday season for someone special? Gifty helps you and your friends compares prices for products and fundraise the perfect gift for any occasion.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">About Us</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://about.me/fontcuberta">about.me</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">

               Gifty © 2015

          </div>
        </footer>


</html>
